{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
      {% if det.fecha_publicacion %}
  <div class="date">
      {{ det.fecha_publicacion }}
  </div>
{% else %}
  <a class="btn btn-default" href="{% url 'paciente' pk=det.pk %}">Ingresar</a>

{% endif %}

        <a class="btn btn-default" class="button" href="{% url 'editar' pk=det.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" class="button" href="{% url 'eliminar' pk=det.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <h1>{{ det.paciente }}</h1>
        <p>{{ det.doctor|linebreaksbr }}</p>
    </div>
{% endblock %}
