{% extends 'blog/base.html' %}

{% block content %}
{% for post in pac %}
        <div class="post">
            <div class="date">
                {{ post.fecha_creacion }}
            </div>
            <h1><a href="{% url 'detalle' pk=post.pk %}">{{ post.nombre_paciente }}</a></h1>
            <p>{{ direccion_paciente|linebreaksbr }}</p>
            <p>{{ sintomas_paciente|linebreaksbr }}</p>
        </div>
{% endfor %}
<a href="{% url 'base' %}"  class="btn btn-success">Regresar</a>
{% endblock %}
